<form>
<h3>Questões de múltipla escolha:</h3>
{% if multipleoptionquestion_dict %}
    <ul>
    {% for multipleoptionquestion, choices_list in multipleoptionquestion_dict.items %}
        <li> {{multipleoptionquestion.questionText}} </li>
          {% for choice in choices_list %}
            <input type="radio" name={{multipleoptionquestion.name}} value = choices.choiceText > {{choice.choiceText}} <br>
          {% endfor %}
    {% endfor %}
    </ul>
{% else %}
    <p>Não há questões de múltipla escolha disponíveis.</p>
{% endif %}

<h3>Questões dissertativas:</h3>
{% if openquestion_list %}
    <ul>
    {% for openquestion in openquestion_list %}
        <li> {{ openquestion.questionText }} </li>
        <input type='text' placeholder='Escreva aqui!' />
    {% endfor %}
    </ul>
{% else %}
    <p>Não há questões dissertativas disponíveis.</p>
{% endif %}

<div class="button">
        <button type="submit">Confirmar!</button>
</div>
</form>
