<h3>Questões de múltipla escolha:</h3>
{% if multipleopenquestion_list %}
    <ul>
    {% for multipleoptionquestion in multipleopenquestion_list %}
        <li> {{multipleoptionquestion.questionText}} </li>
        <form>
            {% for key, choices_list in choice_dict.items %}
              {% for choice in choices_list %}
              {% if key == multipleoptionquestion.id%}
                <input type="radio" name="escolhas" value = choices.choiceText > {{choice.choiceText}} <br>
              {% endif %}
              {% endfor %}
            {% endfor %}
        </form>
    {% endfor %}
    </ul>
{% else %}
    <p>Não há questões de múltipla escolha disponíveis.</p>
{% endif %}

<h3>Questões dissertativas:</h3>
{% if openquestion_list %}
    <ul>
    {% for openquestion in openquestion_list %}
        <li> {{ openquestion.questionText }} </li>
        <input type='text' value='Escreva aqui !' />
    {% endfor %}
    </ul>
{% else %}
    <p>Não há questões dissertativas disponíveis.</p>
{% endif %}

<div class="button">
        <button type="submit">Confirmar!</button>
